<app-username [username]="'Chris1234'" (userClicked)="onUserWasClicked($event)"></app-username>
<app-username [username]="'Chris5678'" (userClicked)="onUserWasClicked($event)"></app-username>
<p [ngClass]="{updated: title != 'smt'}">
  {{title}}
</p>
<p *ngIf="title != 'smt'">Name updated</p>
<button (click)="onChangeName()">Change name</button>
<button (click)="onAddElement()">New Element</button>
<ul>
  <li
    [id]="'element'+el" 
    *ngFor="let el of elements"
    [ngStyle]="{backgroundColor: getColor(el)}">Element {{el}}</li>
</ul>
<input type="text" [(ngModel)]="message">
<p>{{message}}</p>

<p [ngClass]="{updated: hobbies.length >= 3}">Hobby count: {{hobbies.length}}</p>
<p *ngIf="hobbyDeleted">Hobby deleted</p>
<ul>
    <app-hobby  
      *ngFor="let hb of hobbies"
      [hobby]="hb"
      (hobbyClicked)="onDeleteHobby($event)">
    {{hobby}}
    </app-hobby>
</ul>
<input type="text" [(ngModel)]="newHobby">
<button (click)="onAddHobby()">New hobby</button>
